/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #021316 100%);
}

header {
    color: #ffffff;
    padding: 20px;
}

header h2 {
    padding: 0 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid transparent;
}

nav li a:hover {
    border: 1px solid #fff;
    transform: scale(1.5);
    padding: 16px 8px;
    margin-left: 8px;
    background: linear-gradient(black, red);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease 1s;
}

.hero {
    font-size: 30px;
    text-align: center;
    padding: 50px 100px 150px 100px;
}

.hero h1 { 
    font-size: 50px;
    background: linear-gradient(black, red);
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p { 
    background: linear-gradient(red, black);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero a {
    border: 1px solid white;
    border-radius: 30px;
}

.hero a:hover {
    border: 3px solid rgb(255, 0, 0);
    border-radius: 30px;
    transition: ease 0.3s;  
}

.featured-releases, .featured-artists, .about, .contact {
    opacity: 0;
    padding: 50px;
    color: #fff;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 100px;
}

.h_scroller {
    max-width: 700px;
    justify-self: center;
}

.h_scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.inner_scroller {
    max-width: max-content;
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

[data-animated=true] .inner_scroller {
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

.inner_scroller .release-card {
    flex: 0 0 200px;
}

.button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Releases Page Style */
.releases {
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.release-card {
    width: 25%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.release-card img {
    max-width: 100%;
    height: auto;
}

.release-card a {
    display: inline-block;
    background-color: #0044ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #0044ff;
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* ============================================
                Animations
=============================================== */

@keyframes fade-in {
    from{
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    75% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0.1);
    }
    35% {
        transform: scale(1);
    }
    90% {
        transform: scale(0.8);
    }
}

@keyframes scroll {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}